*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    margin: 0;
}

.barraNav {
    margin-top: 20px;
    width: 40%;
    color: white;
}

nav ul li a, nav ul li i{
    text-decoration: none;
    color: white;
}
nav ul li a:hover, nav ul li i:hover {
    color: #F08C13;
}

.mainContainer{
    margin-top: 5rem;
    color: white;
    font-size: large;
}

.mainContainer h1{
    color: #F08C13;
    /*font-family: 'Luckiest Guy';*/
    font-family: 'Passion one';
}

.home-text {
    font-size: 0.8rem;
}

#boton{
    background: #F08C13;
    color: white;
}

#boton2 {
    background: #00D1DF;
    color: white;
}

aside img{
    max-height: 250px;
    margin-top: auto;
    margin-bottom: auto;
}

/*aside input {
    width: 350px;
}*/


/*.esfera{
    max-width: 45px;
    max-height: 45px;
    margin-top: -11rem;
}*/

footer ul li {
    margin: 0px 0px 10px 0px;
}
footer ul li i {
    color: #F08C13;
}